<%- include('head') %>
<body class="sm-body">
  <div class="sm-layout">
    <%- include('sidebar') %>
    <div class="sm-backdrop" id="smBackdrop"></div>
    <main class="sm-main">
      <%- include('topbar') %>
      <div class="sm-content">
